<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/bundles/pimcoreadmin/css/object_versions.css"/>
</head>

<body>

<h1>Error: Cannot load version</h1>

<p>
    {{ message }}
</p>

</body>
</html>
